@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --main-color: #30336b;
  --button-color: #be2edd;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body,
html {
  font-family: "Lato", sans-serif;
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 260px;
  background-color: var(--main-color);
  color: white;
  margin: 0;
}

.header .header__menu-btn {
  position: relative;
  align-self: start;
  left: 20px;
  top: 15px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 7px 10px;
  background-color: #22244b;
  cursor: pointer;
}

.header .header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}

.header .header__title {
  font-size: 36px;
  font-weight: bold;
}

.header .header__description {
  font-size: 20px;
  margin: 20px 0px;
}

.header .header__btn {
  all: unset;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 20px;
  background-color: var(--button-color);
  cursor: pointer;
  margin-bottom: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  width: 50%;
  margin: 0 auto;
}

.main .main__title {
  font-size: 24px;
  font-weight: 700;
  margin: 24px 0px;
  align-self: start;
}

.main .main__lists {
  align-self: start;
  margin-bottom: 20px;
}

.main .main__list {
  margin-left: 15px;
  line-height: 1.4;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  border-right: 1px solid rgba(128, 128, 128, 0.37);
  width: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.menu-show {
  opacity: 1;
  width: 25%;
}

.menu img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px 0px;
  cursor: pointer;
}

.menu .menu__lists {
  width: 100%;
  align-self: start;
}

.menu .lists__list {
  width: 100%;
  padding: 25px 0px;
  padding-left: 20px;
  color: white;
  border-top: 1px solid rgba(128, 128, 128, 0.37);
  border-bottom: 1px solid rgba(128, 128, 128, 0.37);
}

.modal {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: -5;
  opacity: 0;
}

@keyframes modalShow {
  0% {
    opacity: 0.25;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.modal-show {
  animation: modalShow 0.5s ease-in-out forwards;
}

.modal .modal__container {
  background-color: white;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__container .modal__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--main-color);
  border-radius: 5px 5px 0px 0px;
}

.modal__header .modal__btn-close {
  cursor: pointer;
}

.modal__container .modal__contents {
  width: 100%;
  padding: 20px;
}

.modal__contents .modal__description {
  padding: 10px 0px;
}

.modal__contents form {
  margin-top: 10px;
}

.modal__contents input {
  display: block;
  margin: 10px 0px;
  padding: 8px 5px;
  width: 100%;
}

.modal__contents .modal__btn {
  all: unset;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--button-color);
  margin-top: 10px;
  cursor: pointer;
}
